<!DOCTYPE html>
<html>
<head>
    <title>Thankyou</title>
</head>
    <body>
        <h1><%= title %></h1>
        <p> Your email <%=session.userEmail %> has been added successfully to our subscribers list.
        </p>
    </body>
</html>